// common css start
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 41px;
    color: #7e8287;
}

.title {
    font-size: 46px;
    color: #02918c;
    font-weight: 800;
}

.title2 {
    line-height: 23px;
    font-weight: 800;
}

// common css end

// header start
header {
    background-color: #02918c;
    padding: 5px 0;

    nav {
        ul {
            li {
                margin-right: 50px;

                a {
                    text-transform: uppercase;
                    font-size: 12px !important;
                    color: #ffffff !important;
                    font-weight: 800 !important;
                    transition: all linear .3s;

                    &:hover{
                        color: #cfc91d !important;
                    }
                }
            }
        }
    }
}

// header end

// footer start
footer {}

// footer end