// common css start
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 41px;
    color: #7e8287;
}

.title {
    font-size: 46px;
    color: #02918c;
    font-weight: 800;
}

.title2 {
    line-height: 23px;
    font-weight: 800;
}

.divider {
    font-size: 16px;
    line-height: 41px;
    color: #7e8287;
}

.cusBtn {
    background-color: #cfc91d;
    padding: 20px 42px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #0b1016;
    font-weight: 800;
    transition: .3s;

    &:hover {
        background-color: #02918c;
        color: #ffffff;
    }
}

// common css end

// header start
header {
    background-color: #02918c;
    padding: 5px 0;

    nav {
        ul {
            li {
                margin-right: 50px;

                a {
                    text-transform: uppercase;
                    font-size: 12px !important;
                    color: #ffffff !important;
                    font-weight: 800 !important;
                    transition: all linear .3s;

                    &:hover {
                        color: #cfc91d !important;
                    }
                }
            }
        }
    }
}

// header end

//<!-- banner start -->
.banner {
    padding: 210px 0;
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    line-height: 25px;
    color: #ffffff;

    h2 {
        font-size: 30px;
    }

    h1 {
        font-size: 68px;
        margin: 30px 0;
        font-weight: 900;
        text-transform: uppercase;
    }

    p {
        font-size: 18px;
        margin-bottom: 48px;

    }

    img {
        display: block;
        margin: 0 auto;
    }

    button {
        margin-top: 51px;
    }
}

//<!-- banner end -->

//<!-- about start -->
.about {
    padding: 95px 0;

    .about-head {
        text-align: center;

        h1 {}

        h2 {}

        p {
            font-size: 16px;
            line-height: 41px;
            color: #7e8287;

            span {
                font-weight: 900;
                font-size: 23px;
            }
        }
    }

    .about-content {
        margin-top: 80px;
        padding: 35px 15px;
        text-align: center;

        img {}

        h6 {
            margin: 30px 0;
        }

        p {
            font-size: 16px;
            line-height: 30px;
            color: #7e8287;
        }

    }
}

//<!-- about end -->

//<!-- services start -->
.services {
    background-color: #f0f0e8;

    .services-left {
        padding: 80px 40px;
        background-color: #f0f0e8;

        .services-header {
            h1 {}

            h6 {
                margin-top: 42px;
                margin-bottom: 33px;
            }

            p {
                font-size: 16px;
                line-height: 41px;
                color: #7e8287;
            }
        }

        .services-content {
            margin-top: 50px;

            img {}

            h6 {
                margin-top: 18px;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                line-height: 25px;
                color: #7e8287;
            }
        }



    }

    .services-right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

//<!-- services end -->

//<!-- work start -->
.work {}

//<!-- work end -->

//<!-- contact start -->
.contact {}

//<!-- contact end -->

// footer start
footer {}

// footer end